#!/bin/bash

# Dual monitor placements
xrandr --output HDMI-0 --mode 1920x1080 --rate 99.93
xrandr --output HDMI1 --auto --pos -1600x500

# Keyboard Altgr-intl (swapped caps and escape)
setxkbmap -layout us -variant altgr-intl -option caps:swapescape

# QT5 enviromental variable
export QT_QPA_PLATFORMTHEME=qt5ct

# JDK compatibility
export AWT_TOOLKIT=MToolkit
wmname compiz
# Sway (also JDK)
export _JAVA_AWT_WM_NONREPARENTING=1

# Slower mouse speed
xinput set-prop 'Logitech G203 LIGHTSYNC Gaming Mouse' 'libinput Accel Speed' -0.5

# Faster keyboard
xset r rate 250 40

# Disable screen turning off
xset -dpms
xset s off

# Default apps
export BROWSER=qutebrowser
export EDITOR=nvim

# Startup apps
sxhkd -t 2 &
xbindkeys &
picom &
flameshot &
nitrogen --restore &
unclutter --timeout 15 &
greenclip daemon &
 alacritty --title launch-nvim -e nvim &

# Statusbar loop
while true; do
   xsetroot -name "$( date +"%F %R")"
   sleep 1m    # Update time every minute
done &

# DWM loop
exec /home/tony/.scripts/startdwm
