xrandr --output HDMI-0 --mode 1920x1080 --rate 99.93
xrandr --output HDMI1 --auto --pos -1600x500
setxkbmap -layout us -variant altgr-intl
export QT_QPA_PLATFORMTHEME=qt5ct

xinput set-prop 'Logitech G203 LIGHTSYNC Gaming Mouse' 'libinput Accel Speed' -0.5

setterm -blank 0
xset -dmps
xset s off

export BROWSER=qutebrowser

sxhkd -t 2 &
xbindkeys &
picom &
flameshot &
nitrogen --restore &
